{{template "admin/base/layout.html" .}}

{{define "style"}}
{{end}}

{{define "content"}}

<section class="content">

    <div class="error-page">
        <h3 class="headline text-red">Error  </h3>

        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> 出错啦 </h3>

            <p>
                We will work on fixing that right away.
                Meanwhile, you may <a href="/admin">return to dashboard</a> or try using the search form.
            </p>

            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /.input-group -->
            </form>
        </div>
    </div>
    <!-- /.error-page -->

</section>

{{end}}


{{define "script"}}
{{end}}
