*.iml

.idea/

.idea_modules/
atlassian-ide-plugin.xml

### Laravel ###
/bootstrap/compiled.php
.env.*.php
.env.php
.env

vendor

node_modules

# npm build file
public/js/app.js
public/js/app.js.map

public/styles/main.css
public/styles/main.css.map
public/styles/player.css
public/styles/player.css.map
