body {
    padding-top: 20px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.wb-jumbotron{
    text-align: center;
    background-color: transparent;
}

.wb-jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.nav-justified {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.nav-justified > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
    background-repeat: repeat-x;
    border-bottom: 1px solid #d5d5d5;
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
}

.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}

.nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }

    .nav-justified > li > a {
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #fff;
    }

    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }

    .nav-justified > li:last-child > a {
        border-right: 0;
        border-radius: 0 5px 5px 0;
    }
}

@media screen and (min-width: 768px) {
    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.tile-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.biliContent {
    font-size: 70%;
}

.bili-tile {
    overflow: hidden;
}

.bili-logo {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    -moz-background-size:100%;
    background-size:100%;
}

.lead {
    text-shadow: 0 0 20px #d4ffd5;
    color: #bcc6d1;
}

.bili-search {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.bili-sp-content {
    height: 110px;
    overflow: hidden;
}

.bili-search-a {
    margin-top: 30px;
    height: 280px;
}

.panel-default {
    padding: 0px;
}

.bili-search-caption {
    height: 100px;
    overflow: hidden;
}

.bili-search-content {
    height: 40px;
    font-size: 60%;
}

.grid-item {
    padding: 11px;
    width: 230px;
}

.head-hot {
    height: 100px;
}

.wb-show {
    display: block;
    width: 255px;
    height: 230px;
    padding: 5px;
    margin: 5px 10px 5px 10px;
    border: 2px solid #bdc3c7;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: hidden;
    float: left;
}

.wb-show-shadow {
    width: 241px;
    height: 216px;
    margin: 0;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: hidden;
    position: absolute;
    background: #000;
    display: none;
}

.wb-show-intro {
    display: block;
    font-size: 65%;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.wb-show-play {
    font-size: 60%;
    height: 15px;
    text-overflow: ellipsis;
    color: lightblue;
}

.wb-show > img {
    width: 100%;
    height: 70%;
}

.wb-show > .caption {
    padding: 10px;
    text-overflow: ellipsis;
    color: #34495e;
}

.wb-show > .caption > p {
    text-overflow: ellipsis;
    font-size: 80%;
}

.wb-row {
    padding: 10px;
}

.search_img{
    height: 150px;
}

#loading {
    position: absolute;
    margin-left: 15%;
    margin-right: auto;
    padding-top: 20px;
    width: 600px;
    height: 400px;
    opacity: 0.5;
    z-index: 9999;
    overflow: hidden;
}

#loading > p {
    color: white;
    text-shadow: 0 0 20px red;
}

#loading >.alert_content{
    color: red;
    text-shadow: 0 0 20px #d6e2ed;
}

#player_part_select {
    margin-top: 20px;
    margin-bottom: 20px;
}

#player_content {
    height: 600px;
    display: none;
    padding-left: 30px;
}