.video-js .vjs-danmu {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.video-js .vjs-danmu .cmt {
  white-space: nowrap;
  padding: 3px 0 0 0;
  margin: 0;
  line-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0;
  position: absolute;
  word-break: keep-all;
  text-wrap: none;
  border: 0 !important;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.video-js .vjs-danmu .cmt.noshadow {
  text-shadow: none !important;
}

.video-js .vjs-danmu .cmt.rshadow {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}

.vjs-danmu-control .vjs-menu-icon:before {
  content: '\f110';
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1.67em;

}

.vjs-danmu-control .vjs-danmu-switch {
  font-size: 1em;
  line-height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: inherit;
}

/* animation */
.cmt {
  will-change: transform;
}

@keyframes cmt-move-left {
  from {
    transform: translateX(100%);
  }
}

@keyframes cmt-move-right {
  to {
    transform: translateX(-100%);
  }
}




