{
  "Db": {
    "User": "",
    "Pass": "",
    "Host": "",
    "Port": "",
    "Database": "",
    "MaxIdleConns": 0,
    "MaxOpenConns": 0,
    "Debug": false
  },
  "Administrators": [],
  "Downloader": {
    "MaxTask": 0
  },
  "SinaAPI": {
    "APP_KEY": "",
    "APP_SECRET": "",
    "REDIRECT_URL": ""
  },
  "QiniuAPI": {
    "AccessKey": "",
    "SecretKey": "",
    "VideoDomain": "",
    "VideoBucket": ""
  }
}
